table.panelgrid
{
	background-image:url("../images/rounded.png");
	background-repeat :no-repeat;
	width:100%; 
}
.blinkytext {
     font-family:DigifaceWide ;
     src: url('../fonts/digifaw.ttf');
     font-size: 12px; 
     width: 300px;
     word-wrap:break-word;
     word-break:break-all;
     
     
 }
 table.mainPanelGrid
 {
 	border-color: #FF0000;
 	border-style: solid;

 }
 table.innerGameGrid
 {
  	border-color: #FF0000;
 	border-style: solid;
 	width:500px;
 	height:500px;
 	overflow:auto;
	
}

.ui-button 
{    
   background-image:url("../images/rounded.png");
}